body{
    font-family:georgia;
}
img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    filter: brightness(-500%);
}
h1{
    text-align:center;
    font-size:675%;
    margin-bottom:15px;

}
h2{
    text-align:center;
    font-size:350%;
    margin-bottom:0px;
    margin-top:15px;
}
IMG{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
p{
    text-align:center;
    /*background-color: red;*/
    margin:5px 5px 5px 5px;
    padding:0px;
    font-size:200%;
    
}
a{
    display:block;
    margin-left:auto;
    margin-right:auto;

}
.bouton{
    background-image:url(https://media.giphy.com/media/rULGb0wtaeAEM/giphy.gif);
    background-size:cover;
    height: 190px;
    width: 190px;
    background-position:center;
}